* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
  }
  
body {
    height: 100vh;
    background-color:  #001233;
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #CAC0B3;
    font-size: 1rem
}

a:hover {
    color: #FF595A;
}

header {
    position: relative;
    padding: 2rem 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.navbar .categories {
    display: flex;
    gap: 5rem;
}

.navbar .categories a {
    font-size: 1.0rem; 
}

.navbar .toggle_btn {
    color: #CAC0B3;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #FF595A;
    color: #CAC0B3;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #CAC0B3;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 300px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    .navbar .categories,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

#enter {
    text-align: center;
    color: #CAC0B3;
    font-size: 4rem; 
    margin-top: 0.5rm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 600px); /* Ajustez la hauteur pour centrer verticalement */
}

#enter .button {
    display: inline-block;
    background-color: #FF595A;
    color: #CAC0B3;
    padding: 1.5rem 4rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-top: 1rem;
}

#enter .button:hover {
    scale: 1.05;
    color: #CAC0B3;
}

#enter .button:active {
    scale: 0.95;
}

#enter p {
    margin-top: 2rem; 
    font-size: 1.2rem; 
    color: #CAC0B3; 
    font-style: italic;
}

.banner {
    width: 100%;
    height: auto; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    position: relative;
    margin-top: 60px; /* Ajustez pour éviter de chevaucher la navbar */
    margin-bottom: 0;
}

.banner img {
    width: 100%;
    height: auto;
    max-width: 1920px; /* Limitez la largeur maximale à 1900px */
    max-height: 357px;
    object-fit: cover; /* Assurez-vous que l'image couvre toute la section */
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem; /* Ajustez la taille de la police selon vos besoins */
    color: #FF595A; /* Couleur du texte */
    margin: 20px 0; /* Ajoutez de l'espace au-dessus et en dessous du titre */
}

.reviews {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Changez de right à left pour déplacer la zone à gauche */
    background-color: #fff; /* Changez la couleur de fond à blanc */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px; /* Augmentez le padding pour plus d'espace intérieur */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px; /* Augmentez la largeur */
    height: 125px; /* Ajoutez une hauteur fixe */
}

.review {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review img {
    width: 40px; /* Augmentez la taille de l'image */
    height: 40px; /* Augmentez la taille de l'image */
    margin-right: 10px;
}

.review p {
    margin: 0;
    font-size: 1rem; /* Augmentez la taille de la police */
    color: #FF595A;
    font-weight: bold;
}